body {
    background-color: #001E1E;
    color: #019a94;
}
td {
    vertical-align: top;
}
a {
    color: #019a94;
}
a:hover {
    color: white;
}
table tr:not(:first-child) td {
    padding-top: 20px;
}
.selectable {
    display: none;
}
.selectable:target {
    display: block;
}
.parameter {
    font-family: monospace, monospace;
}
.texttt {
    font-family: monospace, monospace;
}
pre {
    background-color: #00312F;
    counter-reset: line;
    overflow-x: scroll;
}
pre code {
    counter-increment: line;
}
pre code:before {
    content: counter(line);
    display: inline-block;
    border-right: 2px solid #001E1E;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888;
    width: 1.3em;
    text-align: right;
}

.menu0 {
    background-color: #016764;
    overflow: hidden;
}
.menu0 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menu0 a:hover {
    background-color: white;
    color: #016764;
}
.menu0 a.expand {
    display: none;
}
.menu1 {
    background-color: #005958;
    overflow: hidden;
}
.menu1 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
}
.menu1 a:hover {
    background-color: white;
    color: #005958;
}
.menu1 a.expand {
    display: none;
}

a.selectable {
    display: block;
    background-color: #00312F;
    color: white;
    margin-top: 1px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
}
a.selectable:hover {
    background-color: white;
    color: #005958;
}
div.selectable {
    padding-left: 20px;
    margin-bottom: 30px;
}


@media screen and (max-width: 600px) {
    .menu0 a:not(:first-child) {
        display: none;
    }
    .menu0 a.expand {
        float: right;
        display: block;
    }
    .menu0.responsive {
        position: relative;
    }
    .menu0.responsive a.expand {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu0.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .menu1 a {
        display: none;
    }
    .menu1 a.expand {
        float: right;
        display: block;
    }
    .menu1.responsive {
        position: relative;
    }
    .menu1.responsive a.expand {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu1.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}