name: Run Rust tests and push to gitlab

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Generate and test link to pm4py
      run: |
        cargo run itself pm4py -o src/pm4py/pm4py_module_autogen.rs
        cargo build --features python
    - name: Run tests mixed mode 1
      run: cargo test --verbose
    - name: Run tests mixed mode 2
      run: cargo test --verbose --features exactarithmetic,approximatearithmetic
    - name: Run tests exact mode
      run: cargo test --verbose --features exactarithmetic
    - name: Run tests approximate mode
      run: cargo test --verbose --features approximatearithmetic
    - name: commit to Gitlab
      env:
        GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
      run: |
        git clone https://ci_token:$GITLAB_TOKEN@git.rwth-aachen.de/rwth-bpm/rustlibrary
        cd rustlibrary
        git config user.name "Github auto committer"
        git config user.email "cipipeline@example.com"
        rm -rf src/*
        rm -rf testfiles/*
        rm README.md
        rm Cargo.toml
        rm -rf manual/*
        rm .gitlab-ci.yml
        cp -R -a ../src/. src/
        cp -R -a ../testfiles/. testfiles/
        cp ../README.md README.md
        cp ../Cargo.toml Cargo.toml
        cp -R -a ../manual/. manual/
        cp ../.gitlab-ci.yml .gitlab-ci.yml
        git add --all
        git commit -a -m "github CI"
        git push -f https://ci_token:$GITLAB_TOKEN@git.rwth-aachen.de/rwth-bpm/rustlibrary HEAD:main
